@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  background: #06283d;
}

@layer utilities {
  .tempTitulo,
  .tempHumidade,
  .ventoTitulo {
    color: #3f3f46;
    font-size: 18px;
    margin-bottom: 5px;
  }
  .tempInfo,
  .ventoInfo {
    color: #27272a;
    font-size: 30px;
    font-weight: bold;
  }

  .resultado {
    padding: 15px;
    width: 380px;
    height: 380px;
    display: none;
    margin-top: 20px;
    border-radius: 20px;
  }

  .ventoArea {
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin: auto;
    margin-top: 20px;
    padding-left: 25px;
    padding-top: 25px;
    background-color: rgba(0, 0, 0, 0.1);
  }
  .ventoPonto {
    width: 15px;
    height: 1px;
    background-color: #fff;
    transform-origin: left;
  }
}
